In [1]:
import pandas as pd

In [5]:
example_txt_path = r'C:\Users\dongd\Desktop\pothole_datasets\RoadVisSegmentation.v2i.coco-segmentation\train\labels\img_0122_jpg.rf.0738da8ccc1c85f2aa35ede993e7ae03.txt'
with open(example_txt_path) as file:
    lines = [line.rstrip() for line in file]
rows = []
for line in lines:
    row = line.split(' ')
    if row[0] == '2':
        row[0] = '1'
    rows.append(row)
df = pd.DataFrame(rows)
df

,0,1,2,3,4,5,6,7,8,9,...,115,116,117,118,119,120,121,122,123,124
0,1,0.5929585937499999,0.28039765625,0.55974921875,0.27631171875,0.5325031250000001,0.23737109374999998,0.4875046875,0.22540703125,0.45140078125,...,None,None,None,None,None,None,None,None,None,None
1,1,0.8488148437499999,1.0,0.8465624999999999,0.98989453125,0.8214750000000001,0.9705046875000001,0.8065093750000001,0.9324234375,0.8049640625000001,...,0.685375,0.95040625,0.70491796875,0.9482460937500001,0.72612890625,0.97265546875,0.74031484375,1.0,0.8488148437499999,1.0

In [7]:
# loop over all txt and modify the labels
import os
dataset_dir = r'C:\Users\dongd\Desktop\pothole_datasets\coco2yolo8.v8i.yolov8'
for part in ['train', 'valid', 'test']:
    label_dir = os.path.join(dataset_dir,part,'labels')
    new_label_dir = label_dir.replace('labels', 'labels_')
    os.makedirs(new_label_dir, exist_ok=True)
    for tf in os.listdir(label_dir):
        tf_path = os.path.join(label_dir,tf)
        with open(tf_path) as file:
            lines = [line.rstrip() for line in file]
        rows = []
        for line in lines:
            row = line.split(' ')
            # modify the below line to change label
            if row[0] == '2': # merge class '2' into '1'
                row[0] = '1' 
            rows.append(row)
        df = pd.DataFrame(rows)
        df.to_csv(os.path.join(new_label_dir,tf), header=None, index=None, sep=' ')